In [112]:

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import os

In [113]:
# requests
file_path = r"C:\Users\ElifYilmaz\Downloads\project 2.0.csv"

df = pd.read_csv(file_path)
df.columns = df.columns.str.lower()

# qualitative 

file2 = r"C:\Users\ElifYilmaz\Downloads\info client.csv"

df2 = pd.read_csv(file2)
df2.columns = df2.columns.str.lower()

#### Create Derived Features

In [114]:
# fixing appointment types

type_mapping = {
    'FU': 'FU',
    'FUVD': 'FU', 
    'REMINDER': 'FU',
    'VDFIELD': 'SC',
    'VD': 'SC'
}

# Create grouped_type column
df['grouped_type'] = df['type'].map(type_mapping)

In [115]:
# Create condition for net events (not cancelled and past)
df['is_net_event'] = df['deletedat'].isna() & df['is_passed']

In [116]:
# Gross counts (all events)
gross_counts = df.groupby(['requestid', 'grouped_type']).size().unstack(fill_value=0)
gross_counts.columns = [f'gross_{col}' for col in gross_counts.columns]

# Net counts (only events that actually happened)
net_counts = df[df['is_net_event']].groupby(['requestid', 'grouped_type']).size().unstack(fill_value=0)
net_counts.columns = [f'net_{col}' for col in net_counts.columns]

In [117]:
# Combine gross and net counts
counts_df = gross_counts.join(net_counts, how='outer').fillna(0)

In [118]:
# turn self ipa event to bbinary 
df2['selfipa_done'] = df2['selfipaimportedat'].notnull().astype(int)
df2.drop('selfipaimportedat', axis=1, inplace=True)

In [119]:
# Step 1: Convert createdat to datetime
df['createdat'] = pd.to_datetime(df['createdat'])

# Step 2: Get first gross SC and first net FU timestamps
first_gross_sc = df[df['grouped_type'] == 'SC'].groupby('requestid')['createdat'].min()
first_net_fu = df[(df['grouped_type'] == 'FU') & df['is_net_event']].groupby('requestid')['createdat'].min()

# Step 3: Calculate time difference in hours
counts_df['time_first_sc_to_first_net_fu'] = (first_net_fu - first_gross_sc).dt.total_seconds() / 3600

In [120]:
# drop older requests that havent had a sc since march
counts_df = counts_df[counts_df['gross_SC'] != 0]
counts_df['gross_SC'].value_counts()

gross_SC
1     15250
2      3013
3       700
4       198
5        48
6        12
7         6
10        2
23        1
8         1
Name: count, dtype: int64

In [121]:
# handle missing value for customers who never made to fu
counts_df['time_first_sc_to_first_net_fu'] = counts_df['time_first_sc_to_first_net_fu'].fillna(-1)

# Check final dataset
print("Final dataset info:")
print(f"Shape: {counts_df.shape}")
print(f"No missing values: {counts_df.isnull().sum().sum() == 0}")

Final dataset info:
Shape: (19231, 5)
No missing values: True

In [122]:
# problematic entries with negative time difference: 
# Separate real negative times from NaN fill values
real_negative = counts_df[
    (counts_df['time_first_sc_to_first_net_fu'] < 0) & 
    (counts_df['time_first_sc_to_first_net_fu'] != -1)
]

actual_valid_times = counts_df[counts_df['time_first_sc_to_first_net_fu'] >= 0]

print(f"Actual negative time differences (not NaN fills): {len(real_negative)}")
print(f"Positive time differences: {len(actual_valid_times)}")
print(f"NaN fills (-1): {(counts_df['time_first_sc_to_first_net_fu'] == -1).sum()}")

if len(real_negative) > 0:
    print(f"\nReal negative values range: {real_negative['time_first_sc_to_first_net_fu'].min():.2f} to {real_negative['time_first_sc_to_first_net_fu'].max():.2f} hours")

Actual negative time differences (not NaN fills): 22
Positive time differences: 7351
NaN fills (-1): 11858

Real negative values range: -4146.53 to -22.24 hours

In [123]:
#handle negative time difference
# Remove outliers entirely (set to NaN, then fill with -1)
counts_df.loc[counts_df['time_first_sc_to_first_net_fu'] < -1, 'time_first_sc_to_first_net_fu'] = -1

In [124]:
# Verify the cleanup
print("After removing outliers:")
print(f"Negative values (excluding -1 fills): {((counts_df['time_first_sc_to_first_net_fu'] < 0) & (counts_df['time_first_sc_to_first_net_fu'] != -1)).sum()}")
print(f"Valid positive time differences: {(counts_df['time_first_sc_to_first_net_fu'] > 0).sum()}")
print(f"NaN fills (-1): {(counts_df['time_first_sc_to_first_net_fu'] == -1).sum()}")

# Final dataset summary
print(f"\nFinal dataset shape: {counts_df.shape}")
print("Ready to join with target variable!")

After removing outliers:
Negative values (excluding -1 fills): 0
Valid positive time differences: 7351
NaN fills (-1): 11880

Final dataset shape: (19231, 5)
Ready to join with target variable!

In [125]:
# at this point requestid is the index. make it explicit


counts_df = counts_df.reset_index()
counts_df.head()

,requestid,gross_FU,gross_SC,net_FU,net_SC,time_first_sc_to_first_net_fu
0,2039,0,2,0.0,0.0,-1.000000
1,3279,0,1,0.0,1.0,-1.000000
2,3583,1,1,1.0,1.0,120.043056
3,3729,8,1,8.0,1.0,73.835556
4,3852,2,1,2.0,1.0,42.193889

In [126]:
# Left join to add target variable
#final_df1 = counts_df.merge(contract, on='requestid', how='left')
# unnecessairy join because df2 has netcontractsigned info 

final_df = counts_df.merge(df2, on='requestid', how='left')


# Fill non-matching requestids with 0 for the target
final_df['netcontractsigned'] = final_df['netcontractsigned'].fillna(0)

# Check the result
print(f"Final dataset shape: {final_df.shape}")
print(f"Target variable distribution:")
print(final_df['netcontractsigned'].value_counts())
print(f"\nColumns: {list(final_df.columns)}")

Final dataset shape: (19245, 14)
Target variable distribution:
netcontractsigned
0.0    18809
1.0      436
Name: count, dtype: int64

Columns: ['requestid', 'gross_FU', 'gross_SC', 'net_FU', 'net_SC', 'time_first_sc_to_first_net_fu', 'zipregion', 'evaluationtime', 'desiredinstallationend', 'electricitybill', 'heatingbill', 'mktgparamscore', 'netcontractsigned', 'selfipa_done']

#### Encoding and Null handling

In [127]:
# Majority of bills have -1, 1 and 0

# set wrong bill values to nan
# Replace specific values with NaN
final_df['electricitybill'] = final_df['electricitybill'].replace([0, 1, -1], pd.NA)
final_df['heatingbill'] = final_df['heatingbill'].replace([0, 1, -1], pd.NA)

Optional for bill handling 
def clean_billing_column(series, column_name):
    """Clean billing column: set negative values and extreme outliers to replacement value"""
    
    # Convert to numeric, coerce errors to NaN
    series_clean = pd.to_numeric(series, errors='coerce')
    
    # Define reasonable bounds (adjust these based on your domain knowledge)
    min_reasonable = 0  # Bills shouldn't be negative
    max_reasonable = 2000  # Adjust based on your market (e.g., €1000/month seems high)
    
    # Count issues for reporting
    negative_count = (series_clean < min_reasonable).sum()
    outlier_count = (series_clean > max_reasonable).sum()
    
    print(f"{column_name}:")
    print(f"  - Negative values: {negative_count}")
    print(f"  - Values > {max_reasonable}: {outlier_count}")
    print(f"  - Original NaN: {series.isna().sum()}")
    
    # Replace problematic values
    series_clean.loc[series_clean < min_reasonable] = np.nan  # or -1
    series_clean.loc[series_clean > max_reasonable] = np.nan  # or -1
    
    return series_clean

# Apply cleaning
final_df['heatingbill'] = clean_billing_column(final_df['heatingbill'], 'heatingbill')
final_df['electricitybill'] = clean_billing_column(final_df['electricitybill'], 'electricitybill')

In [128]:
# before encoding, mark the missingness inside the row;
missing_cols = ['zipregion', 'evaluationtime', 'desiredinstallationend', 'electricitybill', 'heatingbill', 'mktgparamscore']

for col in missing_cols:
    final_df[f'{col}_missing'] = final_df[col].isnull().astype(int)

# Check the predictive power of missing indicators
print("Missing indicator correlations with target:")
missing_indicators = [f'{col}_missing' for col in missing_cols]
missing_corrs = final_df[missing_indicators + ['netcontractsigned']].corr()['netcontractsigned'].drop('netcontractsigned')
print(missing_corrs.sort_values())

Missing indicator correlations with target:
electricitybill_missing          -0.047029
desiredinstallationend_missing   -0.010914
evaluationtime_missing           -0.010865
mktgparamscore_missing           -0.003229
zipregion_missing                 0.010433
heatingbill_missing               0.018988
Name: netcontractsigned, dtype: float64

#### Encoding

In [129]:
# encoding 
# desiredinstallationend
type_mapping = {
    # Original Italian values
    '3-4mesi': 'three_to_four_months', 
    '5+mesi': 'more_than_5_months',
    '1-2mesi': 'one_to_two_months',
    'Non lo so': 'dont_know',
    'short': np.nan,
    # Already mapped values (keep as-is)
    'dont_know': 'dont_know',
    'three_to_four_months': 'three_to_four_months',
    'one_to_two_months': 'one_to_two_months', 
    'more_than_5_months': 'more_than_5_months',
    # Handle string 'nan'
    'nan': np.nan
}

final_df['desiredinstallationend1'] = final_df['desiredinstallationend'].map(type_mapping)

In [130]:
# evaluationtime
type_mapping = {
    # Original Italian values
    '3-6 mesi': np.nan,
    '<3 mesi': np.nan,
    '>6 mesi': np.nan,
    # Already mapped English values
    'less_than_three_months': np.nan,
    'more_than_six_months': np.nan,
    # Other values that appear in your data
    'understand_need': 'understand_need',  # or map to np.nan if you don't want these
    'understand_purchase': 'understand_purchase',  # or map to np.nan if you don't want these
    'evaluation': 'evaluation',  # or map to np.nan if you don't want these
    'curious': 'curious',  # or map to np.nan if you don't want these
    # Handle string 'nan'
    'nan': np.nan
}

# Create grouped_type column
final_df['evaluationtime1'] = final_df['evaluationtime'].map(type_mapping)

In [131]:
# Replace the old columns directly
final_df['desiredinstallationend'] = final_df['desiredinstallationend1']
final_df['evaluationtime'] = final_df['evaluationtime1']

# Drop the temporary columns
final_df = final_df.drop(['desiredinstallationend1', 'evaluationtime1'], axis=1)

In [132]:
# handle nan before encoding
final_df['desiredinstallationend'] = final_df['desiredinstallationend'].fillna('missing')
final_df['evaluationtime'] = final_df['evaluationtime'].fillna('missing')

In [133]:
# Start with ordinal encoding for time-based features

# Ordinal encoding for desiredinstallationend (time-based order)
time_order = [ 'one_to_two_months', 'three_to_four_months', 'more_than_5_months', 'dont_know', 'missing']
final_df['desiredinstallationend_encoded'] = final_df['desiredinstallationend'].map({val: i for i, val in enumerate(time_order)})

##### Analysis to see how to handle marketing and region

In [134]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19245 entries, 0 to 19244
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   requestid                       19245 non-null  int64
 1   gross_FU                        19245 non-null  int64
 2   gross_SC                        19245 non-null  int64
 3   net_FU                          19245 non-null  float64
 4   net_SC                          19245 non-null  float64
 5   time_first_sc_to_first_net_fu   19245 non-null  float64
 6   zipregion                       18637 non-null  object
 7   evaluationtime                  19245 non-null  object
 8   desiredinstallationend          19245 non-null  object
 9   electricitybill                 12527 non-null  object
 10  heatingbill                     4742 non-null   object
 11  mktgparamscore                  18319 non-null  object
 12  netcontractsigned               19245 non-null  float64
 13  selfipa_done                    19245 non-null  int64
 14  zipregion_missing               19245 non-null  int64
 15  evaluationtime_missing          19245 non-null  int64
 16  desiredinstallationend_missing  19245 non-null  int64
 17  electricitybill_missing         19245 non-null  int64
 18  heatingbill_missing             19245 non-null  int64
 19  mktgparamscore_missing          19245 non-null  int64
 20  desiredinstallationend_encoded  19245 non-null  int64
dtypes: float64(4), int64(11), object(6)
memory usage: 3.1+ MB

In [135]:
# For each categorical column, see conversion rates
print("Conversion rates by category:\n")

for col in ['zipregion', 'mktgparamscore']:  # replace with your actual column names
    conversion_by_cat = final_df.groupby(col)['netcontractsigned'].agg(['count', 'sum', 'mean'])
    conversion_by_cat.columns = ['total_samples', 'conversions', 'conversion_rate']
    conversion_by_cat = conversion_by_cat.sort_values('conversion_rate', ascending=False)
    
    print(f"\n{col.upper()}:")
    print(conversion_by_cat)
    print(f"Overall variation: {conversion_by_cat['conversion_rate'].std():.4f}")

Conversion rates by category:


ZIPREGION:
                       total_samples  conversions  conversion_rate
zipregion
Friuli-Venezia Giulia           1068         64.0         0.059925
Piemonte                        1717         58.0         0.033780
Valle D'Aosta                     72          2.0         0.027778
Liguria                          469         13.0         0.027719
Emilia-Romagna                  1669         44.0         0.026363
Lombardia                       3083         81.0         0.026273
Veneto                          1466         37.0         0.025239
Toscana                         1293         29.0         0.022428
Basilicata                       148          3.0         0.020270
Marche                           392          7.0         0.017857
Umbria                           280          5.0         0.017857
Lazio                           1908         34.0         0.017820
Trentino-Alto Adige              146          2.0         0.013699
Sardegna                         571          6.0         0.010508
Campania                         675          7.0         0.010370
Molise                           109          1.0         0.009174
Sicilia                         1137         10.0         0.008795
Abruzzo                          379          3.0         0.007916
Puglia                          1391          9.0         0.006470
Calabria                         664          2.0         0.003012
Overall variation: 0.0128

MKTGPARAMSCORE:
                total_samples  conversions  conversion_rate
mktgparamscore
Referral                   49          8.0         0.163265
form_classico              14          1.0         0.071429
Organic                  1698         91.0         0.053592
Affiliation                69          3.0         0.043478
Other                     601         18.0         0.029950
Google                   2248         61.0         0.027135
Youtube                  2237         53.0         0.023692
Mediago                   528         11.0         0.020833
TikTok                   1421         27.0         0.019001
Outbrain                 2987         47.0         0.015735
Meta                     6351         97.0         0.015273
Taboola                   114          0.0         0.000000
d2d                         2          0.0         0.000000
Overall variation: 0.0428

Marketing gave good variance, would like to maintain that information. Region is not that significant but still good. 
However given the * of unique values, in both columns I will opt for grouping instead of each value having its column. 

Instead of 30+ categorical features, you get ~6-8, keeping the predictive power but losing the noise.

Downside; this grouping should occasionally double checked to see if it still makes sense

##### one hot encoding for marketing and region

In [136]:
# Define performance groups
marketing_groups = {
    'High': ['Referral', 'form_classico', 'Organic', 'Affiliation'],
    'Medium': ['Other', 'Google', 'Youtube', 'Mediago', 'TikTok'], 
    'Low': ['Outbrain', 'Meta', 'Taboola', 'd2d']
}

# Create mapping function
def group_marketing(value):
    for group, channels in marketing_groups.items():
        if value in channels:
            return group
    return 'Low'  # fallback

# Apply grouping
final_df['mktg_grouped'] = final_df['mktgparamscore'].apply(group_marketing)

In [137]:
# Group regions by performance
def group_regions(region):
    if region == 'Friuli-Venezia Giulia':
        return 'High_Performer'
    elif region in ['Piemonte', 'Lombardia', 'Emilia-Romagna', 'Veneto']:
        return 'Large_Good'
    elif region in ['Liguria', 'Toscana', 'Valle D\'Aosta']:
        return 'Medium'
    else:
        return 'Other'

final_df['region_grouped'] = final_df['zipregion'].apply(group_regions)

In [138]:
# One-hot encode the grouped categories
final_df = pd.get_dummies(final_df, columns=['mktg_grouped', 'region_grouped'], prefix=['mktg', 'region'])

In [139]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19245 entries, 0 to 19244
Data columns (total 28 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   requestid                       19245 non-null  int64
 1   gross_FU                        19245 non-null  int64
 2   gross_SC                        19245 non-null  int64
 3   net_FU                          19245 non-null  float64
 4   net_SC                          19245 non-null  float64
 5   time_first_sc_to_first_net_fu   19245 non-null  float64
 6   zipregion                       18637 non-null  object
 7   evaluationtime                  19245 non-null  object
 8   desiredinstallationend          19245 non-null  object
 9   electricitybill                 12527 non-null  object
 10  heatingbill                     4742 non-null   object
 11  mktgparamscore                  18319 non-null  object
 12  netcontractsigned               19245 non-null  float64
 13  selfipa_done                    19245 non-null  int64
 14  zipregion_missing               19245 non-null  int64
 15  evaluationtime_missing          19245 non-null  int64
 16  desiredinstallationend_missing  19245 non-null  int64
 17  electricitybill_missing         19245 non-null  int64
 18  heatingbill_missing             19245 non-null  int64
 19  mktgparamscore_missing          19245 non-null  int64
 20  desiredinstallationend_encoded  19245 non-null  int64
 21  mktg_High                       19245 non-null  bool
 22  mktg_Low                        19245 non-null  bool
 23  mktg_Medium                     19245 non-null  bool
 24  region_High_Performer           19245 non-null  bool
 25  region_Large_Good               19245 non-null  bool
 26  region_Medium                   19245 non-null  bool
 27  region_Other                    19245 non-null  bool
dtypes: bool(7), float64(4), int64(11), object(6)
memory usage: 3.2+ MB

In [140]:
# Drop original categorical columns and create final feature matrix
columns_to_drop = [ 'zipregion', 'evaluationtime', 'desiredinstallationend', 'mktgparamscore']
final_df = final_df.drop(columns=columns_to_drop)


print(f"\nNo missing values: {final_df.isnull().sum().sum() == 0}")

No missing values: False

#### Imputing

In [141]:
# Fix electricitybill missing values
final_df['electricitybill'] = final_df['electricitybill'].fillna(final_df['electricitybill'].median())
final_df['heatingbill'] = final_df['heatingbill'].fillna(final_df['heatingbill'].median())

# Fix desiredinstallationend_encoded - NaN means 'Unknown' which should be 0 --> check if needed
#X_final['desiredinstallationend_encoded'] = X_final['desiredinstallationend_encoded'].fillna(0)

# Verify all missing values are gone
print(f"Remaining missing values: {final_df.isnull().sum().sum()}")
print(f"Dataset ready: {final_df.isnull().sum().sum() == 0}")

Remaining missing values: 0
Dataset ready: True

C:\Users\ElifYilmaz\AppData\Local\Temp\ipykernel_34972\1109642794.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  final_df['electricitybill'] = final_df['electricitybill'].fillna(final_df['electricitybill'].median())
C:\Users\ElifYilmaz\AppData\Local\Temp\ipykernel_34972\1109642794.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  final_df['heatingbill'] = final_df['heatingbill'].fillna(final_df['heatingbill'].median())

##### Scaling

In [142]:
# scaling when needed
continuous_cols= [
    'time_first_sc_to_first_net_fu',
    'electricitybill', 
    'heatingbill'
]

# Scale only the continuous features
scaler = StandardScaler()
final_df[continuous_cols] = scaler.fit_transform(final_df[continuous_cols])

Adding behavioral data from Booking Calls

In [143]:
behaviour = pd.read_csv(r"processed_data/df_model.csv")
behaviour.columns = behaviour.columns.str.lower()
merged_df = final_df.merge(behaviour, 
                          left_on='requestid', 
                          right_on='id', 
                          how='left')

In [144]:
# drop requestid
#merged_df = merged_df.drop(columns=['requestid', 'id', 'converted'])

#### Duplicate Check

In [145]:
# Check your actual dataset for duplicates
duplicate_cols = []
cols = merged_df.columns.tolist()

for i in range(len(cols)):
    for j in range(i+1, len(cols)):
        if merged_df.equals(merged_df[cols[j]]):
            duplicate_cols.append((cols[i], cols[j]))

print("Duplicate column pairs:", duplicate_cols)
print(f"Original shape: {merged_df.shape}")

# Remove duplicates if any found
X_final_clean = merged_df.loc[:, ~merged_df.columns.duplicated()]
print(f"After removing duplicates: {X_final_clean.shape}")

Duplicate column pairs: []
Original shape: (19245, 47)
After removing duplicates: (19245, 47)

In [146]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19245 entries, 0 to 19244
Data columns (total 47 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   requestid                         19245 non-null  int64
 1   gross_FU                          19245 non-null  int64
 2   gross_SC                          19245 non-null  int64
 3   net_FU                            19245 non-null  float64
 4   net_SC                            19245 non-null  float64
 5   time_first_sc_to_first_net_fu     19245 non-null  float64
 6   electricitybill                   19245 non-null  float64
 7   heatingbill                       19245 non-null  float64
 8   netcontractsigned                 19245 non-null  float64
 9   selfipa_done                      19245 non-null  int64
 10  zipregion_missing                 19245 non-null  int64
 11  evaluationtime_missing            19245 non-null  int64
 12  desiredinstallationend_missing    19245 non-null  int64
 13  electricitybill_missing           19245 non-null  int64
 14  heatingbill_missing               19245 non-null  int64
 15  mktgparamscore_missing            19245 non-null  int64
 16  desiredinstallationend_encoded    19245 non-null  int64
 17  mktg_High                         19245 non-null  bool
 18  mktg_Low                          19245 non-null  bool
 19  mktg_Medium                       19245 non-null  bool
 20  region_High_Performer             19245 non-null  bool
 21  region_Large_Good                 19245 non-null  bool
 22  region_Medium                     19245 non-null  bool
 23  region_Other                      19245 non-null  bool
 24  id                                18140 non-null  float64
 25  converted                         18140 non-null  float64
 26  total_bc_attempts                 18140 non-null  float64
 27  total_bc_outcomes                 18140 non-null  float64
 28  lead_to_first_bc_days             18140 non-null  float64
 29  bc_duration_days                  18140 non-null  float64
 30  lead_to_sc1_days                  18140 non-null  float64
 31  sc1_schedule_to_appointment_days  18140 non-null  float64
 32  bc_frequency                      18140 non-null  float64
 33  positive_outcomes_count           18140 non-null  float64
 34  negative_outcomes_count           18140 non-null  float64
 35  noshow_outcomes_count             18140 non-null  float64
 36  positive_outcome_ratio            18140 non-null  float64
 37  negative_outcome_ratio            18140 non-null  float64
 38  noshow_outcome_ratio              18140 non-null  float64
 39  reachability_score                18140 non-null  float64
 40  outcome_trend                     18140 non-null  float64
 41  persistence_after_negative        18140 non-null  float64
 42  showed_up_sc1                     18140 non-null  float64
 43  engagement_score                  18140 non-null  float64
 44  efficiency_score                  18140 non-null  float64
 45  last_bc_outcome_encoded           18140 non-null  float64
 46  first_bc_outcome_encoded          18140 non-null  float64
dtypes: bool(7), float64(29), int64(11)
memory usage: 6.0 MB

In [147]:
#investigating missing data request ids
# Find rows with missing call data
missing_call_data = merged_df[merged_df['total_bc_attempts'].isnull()]

print(f"Number of rows with missing call data: {len(missing_call_data)}")

# Show the request IDs (assuming you have a request ID column)
if 'requestid' in merged_df.columns:
    print("\nRequest IDs with missing call data:")
    print(missing_call_data['requestid'].tolist())
else:
    print("\nColumns available to identify these rows:")
    print(merged_df.columns.tolist())
    
    # Show index positions as fallback
    print(f"\nIndex positions of missing rows: {missing_call_data.index.tolist()}")

Number of rows with missing call data: 1105

Request IDs with missing call data:
[2039, 3279, 3583, 3729, 3852, 4359, 4689, 5180, 5216, 5837, 6442, 6521, 6749, 6882, 7183, 7653, 7899, 8057, 9106, 9971, 10157, 10622, 10630, 11034, 11446, 12271, 12548, 12741, 13171, 13514, 13648, 13973, 14578, 14807, 14966, 15106, 15626, 15874, 16288, 16594, 16677, 17124, 17870, 17960, 18429, 18517, 18874, 19527, 19753, 20114, 20193, 20680, 20810, 21062, 21188, 21236, 21468, 21708, 22080, 22690, 22879, 23699, 24093, 24359, 25652, 26202, 26230, 27380, 27584, 27621, 27693, 27713, 27787, 27808, 27830, 28210, 30068, 30881, 30941, 31609, 31791, 31932, 32097, 32714, 32990, 33039, 33130, 33550, 33583, 33793, 34334, 34500, 35640, 35995, 37294, 37319, 38479, 39326, 39500, 40136, 40444, 40758, 40958, 41170, 41292, 41364, 41669, 41729, 42087, 42235, 42346, 42708, 42844, 42989, 43202, 43621, 44179, 44795, 45017, 45483, 45612, 46194, 47009, 47240, 47945, 48369, 48407, 48463, 48607, 49417, 49792, 49837, 49844, 50451, 50554, 51125, 51208, 51540, 51586, 51617, 51765, 52123, 52513, 52899, 53426, 53880, 53897, 54245, 55296, 55493, 55605, 55680, 55701, 55848, 55883, 56364, 56513, 56755, 56909, 57466, 57689, 57751, 57906, 59128, 59531, 59708, 59817, 60610, 60922, 60944, 61103, 61179, 61383, 61684, 61967, 62074, 62158, 62333, 62489, 62949, 63221, 63586, 63674, 63892, 64695, 65167, 65312, 65357, 65552, 65641, 65757, 65926, 65999, 66063, 66188, 66553, 66692, 67651, 67853, 68086, 68094, 68235, 68392, 68897, 69192, 69329, 69368, 69642, 69947, 70047, 70262, 70343, 70479, 70611, 71339, 71366, 71392, 71418, 71925, 72352, 72406, 72910, 72959, 73016, 73044, 73065, 73081, 73192, 73196, 73566, 73680, 73954, 74237, 74249, 74736, 75635, 75751, 76216, 76239, 76364, 76511, 76815, 76843, 76852, 77081, 77216, 77461, 77527, 77784, 77970, 78360, 78372, 78573, 78648, 78723, 79311, 79615, 79652, 79734, 79952, 80006, 80104, 80134, 80145, 80173, 80737, 80741, 80799, 80930, 81750, 81830, 82094, 82290, 82486, 82853, 83013, 83071, 83132, 83405, 83629, 83856, 83971, 84082, 84259, 84307, 84603, 84824, 85328, 85772, 85780, 85976, 86008, 86018, 86060, 86069, 86365, 86424, 86459, 86617, 86710, 86822, 86837, 86872, 86984, 87228, 87362, 87411, 87467, 87669, 87900, 87911, 87984, 87998, 88273, 88281, 88662, 88783, 88876, 88960, 89186, 89325, 89556, 89591, 90045, 90053, 90354, 90819, 91344, 91345, 91397, 91752, 92080, 92083, 92155, 92190, 92553, 92659, 92703, 92709, 92827, 93118, 93232, 93470, 93500, 93631, 93637, 93647, 93791, 93951, 94066, 94119, 94186, 94487, 94504, 94617, 94654, 94951, 94972, 95077, 95119, 95169, 95391, 95672, 95778, 95789, 96583, 97023, 97106, 97186, 97313, 97345, 97378, 97424, 97584, 97637, 97652, 97860, 97882, 97894, 98047, 98096, 98285, 98400, 98665, 98901, 99030, 99192, 99268, 99284, 99319, 99611, 99759, 99822, 99982, 100233, 100265, 100334, 100447, 100494, 100567, 101045, 101085, 101110, 101111, 101146, 101313, 101351, 101467, 101536, 101537, 101554, 101555, 101571, 101660, 101726, 101727, 101736, 101737, 101824, 101841, 101842, 101941, 101978, 101979, 102021, 102022, 102085, 102156, 102157, 102310, 102311, 102374, 102381, 102403, 102422, 102434, 102460, 102533, 102539, 102540, 102644, 102675, 102768, 102788, 102805, 102806, 102832, 102888, 102889, 102901, 102902, 102961, 102974, 102976, 102977, 103011, 103012, 103016, 103017, 103025, 103041, 103073, 103074, 103108, 103164, 103213, 103214, 103256, 103278, 103288, 103347, 103374, 103403, 110069, 110071, 110074, 110075, 110076, 110077, 110078, 110080, 110081, 110082, 110084, 110085, 110087, 110088, 110090, 110091, 110092, 110093, 110094, 110097, 110098, 110099, 110100, 110102, 110105, 110106, 110108, 110109, 110110, 110111, 110112, 110113, 110114, 110116, 110117, 110118, 110119, 110120, 110122, 110123, 110124, 110125, 110126, 110127, 110128, 110129, 110130, 110132, 110133, 110134, 110135, 110136, 110137, 110138, 110139, 110141, 110142, 110143, 110144, 110145, 110146, 110147, 110148, 110149, 110150, 110151, 110152, 110153, 110154, 110155, 110156, 110157, 110158, 110159, 110160, 110161, 110162, 110163, 110166, 110167, 110168, 110169, 110171, 110172, 110174, 110175, 110176, 110177, 110178, 110179, 110180, 110181, 110182, 110183, 110184, 110185, 110186, 110188, 110190, 110195, 110197, 110198, 110199, 110200, 110202, 110204, 110205, 110206, 110207, 110208, 110209, 110210, 110211, 110212, 110214, 110215, 110216, 110217, 110218, 110219, 110220, 110222, 110224, 110226, 110227, 110228, 110229, 110230, 110231, 110232, 110233, 110234, 110235, 110236, 110237, 110238, 110239, 110240, 110241, 110242, 110243, 110244, 110245, 110246, 110247, 110248, 110249, 110250, 110251, 110252, 110253, 110254, 110256, 110257, 110258, 110259, 110260, 110261, 110262, 110263, 110264, 110265, 110267, 110268, 110269, 110270, 110271, 110272, 110273, 110274, 110275, 110276, 110277, 110278, 110279, 110280, 110281, 110282, 110283, 110284, 110285, 110286, 110287, 110288, 110289, 110290, 110291, 110292, 110293, 110294, 110295, 110296, 110297, 110298, 110299, 110300, 110301, 110302, 110303, 110304, 110305, 110306, 110307, 110308, 110309, 110310, 110311, 110312, 110313, 110315, 110316, 110317, 110318, 110319, 110320, 110321, 110322, 110324, 110325, 110326, 110328, 110329, 110330, 110331, 110332, 110333, 110335, 110336, 110337, 110338, 110340, 110341, 110342, 110343, 110344, 110345, 110346, 110347, 110348, 110349, 110350, 110351, 110352, 110353, 110354, 110355, 110356, 110357, 110358, 110359, 110361, 110363, 110365, 110366, 110367, 110368, 110369, 110370, 110371, 110372, 110373, 110374, 110375, 110376, 110378, 110379, 110380, 110381, 110382, 110383, 110384, 110385, 110386, 110387, 110388, 110389, 110390, 110391, 110395, 110396, 110397, 110398, 110399, 110400, 110401, 110402, 110403, 110404, 110405, 110406, 110407, 110408, 110409, 110410, 110411, 110412, 110413, 110414, 110415, 110417, 110418, 110419, 110420, 110421, 110422, 110423, 110424, 110425, 110426, 110427, 110428, 110429, 110430, 110431, 110432, 110433, 110434, 110435, 110436, 110437, 110440, 110441, 110442, 110446, 110447, 110449, 110450, 110451, 110452, 110456, 110457, 110458, 110461, 110462, 110467, 110469, 110470, 110471, 110472, 110475, 110476, 110478, 110482, 110483, 110484, 110485, 110486, 110487, 110488, 110489, 110490, 110491, 110492, 110493, 110495, 110496, 110497, 110498, 110499, 110500, 110501, 110502, 110503, 110505, 110506, 110508, 110509, 110510, 110511, 110514, 110515, 110516, 110517, 110518, 110521, 110524, 110525, 110526, 110527, 110528, 110529, 110530, 110532, 110533, 110534, 110535, 110536, 110537, 110540, 110541, 110542, 110543, 110544, 110545, 110546, 110547, 110548, 110551, 110552, 110553, 110554, 110556, 110557, 110558, 110560, 110561, 110562, 110563, 110564, 110565, 110566, 110567, 110568, 110569, 110570, 110571, 110572, 110574, 110575, 110578, 110579, 110580, 110582, 110583, 110584, 110585, 110586, 110587, 110588, 110589, 110590, 110592, 110593, 110594, 110595, 110596, 110597, 110598, 110599, 110600, 110601, 110602, 110603, 110605, 110606, 110607, 110609, 110610, 110611, 110612, 110613, 110614, 110615, 110616, 110617, 110618, 110619, 110620, 110621, 110622, 110623, 110624, 110625, 110628, 110629, 110630, 110631, 110634, 110635, 110636, 110637, 110638, 110639, 110640, 110641, 110642, 110643, 110644, 110646, 110647, 110648, 110649, 110650, 110652, 110653, 110654, 110655, 110658, 110659, 110660, 110662, 110663, 110664, 110665, 110667, 110668, 110669, 110670, 110671, 110673, 110674, 110675, 110676, 110677, 110678, 110679, 110680, 110681, 110682, 110685, 110687, 110689, 110690, 110693, 110694, 110699, 110700, 110701, 110702, 110703, 110704, 110705, 110706, 110707, 110708, 110710, 110711, 110712, 110713, 110714, 110715, 110716, 110717, 110720, 110721, 110722, 110723, 110724, 110725, 110726, 110727, 110728, 110729, 110730, 110731, 110733, 110734, 110735, 110737, 110739, 110743, 110745, 110746, 110749, 110750, 110751, 110752, 110753, 110754, 110755, 110756, 110757, 110758, 110759, 110760, 110761, 110762, 110763, 110764, 110765, 110766, 110767, 110768, 110770, 110773, 110774, 110776, 110777, 110779, 110780, 110781, 110782, 110783, 110784, 110785, 110786, 110787, 110788, 110792, 110793, 110797, 110798, 110799, 110800, 110801, 110802, 110803, 110804, 110805, 110806, 110807, 110808, 110810, 110812, 110813, 110814, 110815, 110816, 110817, 110819, 110820, 110822, 110823, 110825, 110826, 110827, 110828, 110829, 110830, 110831, 110832, 110833, 110834, 110835, 110836, 110837, 110838, 110839, 110840, 110844, 110845, 125957]

In [149]:
# Check conversions in missing call data rows
missing_mask = merged_df['total_bc_attempts'].isnull()
print(f"Conversions in missing rows: {merged_df[missing_mask]['netcontractsigned'].sum()}")
print(f"Conversion rate in missing rows: {merged_df[missing_mask]['netcontractsigned'].mean():.4f}")
print(f"Conversion rate in complete rows: {merged_df[~missing_mask]['netcontractsigned'].mean():.4f}")

Conversions in missing rows: 10.0
Conversion rate in missing rows: 0.0090
Conversion rate in complete rows: 0.0235

In [ ]:
# some of these requests are very old and dont have propre registstration, some have some registration but essentially there are only 10 contract signed insode t1100, so essentially dropping as a first step of undersampling,

In [150]:
merged_df = merged_df.dropna().copy()
print(f"New dataset shape: {merged_df.shape}")
print(f"New conversion rate: {merged_df['netcontractsigned'].mean():.4f}")
print(f"Total conversions kept: {merged_df['netcontractsigned'].sum()}")

New dataset shape: (18140, 47)
New conversion rate: 0.0235
Total conversions kept: 426.0

In [151]:
# Create subfolder if it doesn't exist
os.makedirs('processed_data', exist_ok=True)

# Save your merged dataframe
#merged_df.to_csv('processed_data/merged_df.csv', index=False)

print("Dataset saved successfully!")

Dataset saved successfully!