Initial Analysis and Preperation of Clients
All info on subject table between 1/3/2025- 15/06/2025

In [1]:
import pandas as pd

csv_path = r"C:\Users\ElifYilmaz\OneDrive - Enpal B.V\Desktop\Files For Project\subjects.csv"

df = pd.read_csv(csv_path)

#print(df.head())

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21513 entries, 0 to 21512
Data columns (total 59 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CREATEDAT                    21513 non-null  object
 1   UPDATEDAT                    21513 non-null  object
 2   ID                           21513 non-null  int64
 3   NAME                         20906 non-null  object
 4   SURNAME                      20488 non-null  object
 5   TELEPHONE1                   21513 non-null  object
 6   EMAIL                        21419 non-null  object
 7   STREETNAME                   1252 non-null   object
 8   STREETNUMBER                 1247 non-null   object
 9   CITY                         1252 non-null   object
 10  PROVINCE                     1208 non-null   object
 11  STATE                        97 non-null     object
 12  ZIP                          1230 non-null   float64
 13  COUNTRY                      17412 non-null  object
 14  GENDER                       3984 non-null   object
 15  FISCALCODE                   1494 non-null   object
 16  REGION                       1236 non-null   object
 17  BIRTHDATE                    1493 non-null   object
 18  BIRTHCITY                    1104 non-null   object
 19  BIRTHPROVINCE                233 non-null    object
 20  CITINZESHIP                  0 non-null      float64
 21  DOCUMENTNUMBER               230 non-null    object
 22  IBAN                         228 non-null    object
 23  MAXLOANBILLVALUE             1367 non-null   float64
 24  MAXLOANBILLNOTES             1367 non-null   object
 25  MAXLOANDURATION              1367 non-null   float64
 26  MAXLOANIMPORTEDAT            1367 non-null   object
 27  PHONENUMBERS                 0 non-null      float64
 28  TOBECALLED                   21061 non-null  object
 29  CALLATTEMPTSNUMBER           21223 non-null  float64
 30  CANCALLFROM                  13228 non-null  object
 31  LASTCALLATTEMPTAT            0 non-null      float64
 32  SCOREBC                      20768 non-null  float64
 33  ISFIELDCUSTOMER              0 non-null      float64
 34  FIELDSALESAGENTEMAIL         0 non-null      float64
 35  MANUALLYCREATEDBY            129 non-null    float64
 36  MAXLOANBILLVALUECOOWNER      0 non-null      float64
 37  MAXLOANBILLNOTESCOOWNER      0 non-null      float64
 38  MAXLOANDURATIONCOOWNER       0 non-null      float64
 39  OLDLEADREASSIGNED            21513 non-null  bool
 40  RESIDENCYPLACECADASTRALCODE  968 non-null    object
 41  BIRTHCOUNTRY                 968 non-null    object
 42  BIRTHPLACECADASTRALCODE      1367 non-null   object
 43  CITIZENSHIP                  1097 non-null   object
 44  ISSECONDLOSTEMAILSENT        21513 non-null  bool
 45  OUTBOUNDFLOW                 1471 non-null   object
 46  REFERRALEMAIL                66 non-null     object
 47  CREATEDATPRELOAN             968 non-null    object
 48  REFERRALSUBJECTID            70 non-null     float64
 49  SELLERPRELOAN                766 non-null    object
 50  DISPATCHERQUEUE              17582 non-null  object
 51  MISSEDCALLSNUMBER            18054 non-null  float64
 52  ISLOANFORMCOMPLETED          968 non-null    object
 53  COMPLETEPRELOANFORMLINK      463 non-null    object
 54  FIRSTVDFROMQUOTATIONONLY     53 non-null     object
 55  TELEPHONE2                   19 non-null     float64
 56  OWNERORGANIZATIONID          21513 non-null  int64
 57  PARTNERSALESAGENTID          12 non-null     float64
 58  ZIPREGION                    20835 non-null  object
dtypes: bool(2), float64(18), int64(2), object(37)
memory usage: 9.4+ MB

In [3]:
#removing very little variance manually
# not sure this is a great way tbh

#find values
unique_counts = df.nunique().to_dict()


l1 = []
for i, y in unique_counts.items():
    if y < 15:
      l1 += [i]
#print(l1)

df.drop(columns = l1, inplace = True)

In [4]:

#grabbing 0.05 of the max value
x =df.count()
type(x)
f = 0
for i, y in x.items():
    if y > f :
        f = y
    else:
        continue

y = (max(x.values))
print(y)
threshold = int(y*0.05)
print(f)

21513
21513

In [5]:
#marking less than threshold
l2 = []
for g, y in x.items():
    if y < threshold:
        l2.append(g)

print(l2)

['BIRTHPROVINCE', 'DOCUMENTNUMBER', 'IBAN', 'MANUALLYCREATEDBY', 'RESIDENCYPLACECADASTRALCODE', 'BIRTHCOUNTRY', 'REFERRALEMAIL', 'CREATEDATPRELOAN', 'REFERRALSUBJECTID', 'SELLERPRELOAN', 'COMPLETEPRELOANFORMLINK']

In [6]:
# drop unwanted
df.drop(columns= l2, inplace=True)

later write a function that checks the len of each column, and deletesone that has < 5% of the max len.
for i in df.columns:
    if len(df[i]) < 555:
        print (i)

In [7]:
#convert to datetime
date_cols = [
    "CREATEDAT", "UPDATEDAT", "BIRTHDATE",
    "MAXLOANIMPORTEDAT"
]
for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors="coerce")

#mark unknown the geography nulls
for col in ["CITY", "PROVINCE", "REGION"]:
    df[col] = df[col].fillna("Unknown")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21513 entries, 0 to 21512
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   CREATEDAT                21513 non-null  datetime64[ns]
 1   UPDATEDAT                21513 non-null  datetime64[ns]
 2   ID                       21513 non-null  int64
 3   NAME                     20906 non-null  object
 4   SURNAME                  20488 non-null  object
 5   TELEPHONE1               21513 non-null  object
 6   EMAIL                    21419 non-null  object
 7   STREETNAME               1252 non-null   object
 8   STREETNUMBER             1247 non-null   object
 9   CITY                     1252 non-null   object
 10  PROVINCE                 1208 non-null   object
 11  ZIP                      1230 non-null   float64
 12  FISCALCODE               1494 non-null   object
 13  REGION                   1236 non-null   object
 14  BIRTHDATE                1492 non-null   datetime64[ns]
 15  BIRTHCITY                1104 non-null   object
 16  MAXLOANBILLVALUE         1367 non-null   float64
 17  MAXLOANDURATION          1367 non-null   float64
 18  MAXLOANIMPORTEDAT        1367 non-null   datetime64[ns]
 19  CALLATTEMPTSNUMBER       21223 non-null  float64
 20  CANCALLFROM              13228 non-null  object
 21  SCOREBC                  20768 non-null  float64
 22  BIRTHPLACECADASTRALCODE  1367 non-null   object
 23  CITIZENSHIP              1097 non-null   object
 24  OUTBOUNDFLOW             1471 non-null   object
 25  ZIPREGION                20835 non-null  object
dtypes: datetime64[ns](4), float64(5), int64(1), object(16)
memory usage: 4.3+ MB

In [9]:
# drop unrelated manually
to_drop = [
    "UPDATEDAT", "EMAIL", "NAME",
    "SURNAME", "STREETNAME",
    "STREETNUMBER", 
     "FISCALCODE",  "CANCALLFROM",
   "OUTBOUNDFLOW",
    "TELEPHONE1",  "ZIP", "MAXLOANIMPORTEDAT", "BIRTHPLACECADASTRALCODE", "REGION", "CITIZENSHIP", "CITY", "PROVINCE", "BIRTHCITY"
    
    
]
df.drop(columns=to_drop, inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21513 entries, 0 to 21512
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CREATEDAT           21513 non-null  datetime64[ns]
 1   ID                  21513 non-null  int64
 2   BIRTHDATE           1492 non-null   datetime64[ns]
 3   MAXLOANBILLVALUE    1367 non-null   float64
 4   MAXLOANDURATION     1367 non-null   float64
 5   CALLATTEMPTSNUMBER  21223 non-null  float64
 6   SCOREBC             20768 non-null  float64
 7   ZIPREGION           20835 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(1), object(1)
memory usage: 1.3+ MB

Feature engineering WOO

great. see if theres any way to recover data from other tables (request?)
f e geography through buildind but probably onl the ones that went ahead
Would be cool to grab birthdate

With this very scarse info on clients, most of the analysis will be based on the activities (calls, respond behaviour etc)
How about an ETA about that at the beginning

i dont think lead can be used to add more info to subject; as subject is taken form there. but for inconsistencies or several leads etc i can still run a match to recover
building might give city 
contract could give age, but we have only for signed ones lol 
do i even consider recessi